<section id="faq" class="container container-block">
	@*<header class="row main-heading">
			<div class="col-xs-12">
				<h2>Preguntas Frecuentes</h2>
			</div>
		</header>*@

	<div class="col-xs-12">
		<div class="trust-col">
			<h2>Preguntas Frecuentes</h2>
			<div class="panel-group shortcodes" id="accordion" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingOne">
						<h3 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
								¿Cómo actuar ante un accidente de Tránsito?
							</a>
						</h3>
					</div>
					<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
						<div class="panel-body">
							<p>
								Si Ud. es víctima de un accidente de tránsito sea como peatón, conductor o persona transportada (colectivo, tren, subte, taxi, etc.) lo primero que debe hacer es tomar todos los datos del vehículo que causó el accidente ( principalmente patente y seguro ). Destacamos que siempre es muy útil tomar los datos de algún testigo que respalde su versión de los hechos . El segundo paso es solicitar asistencia médica inmediata comunicándose al SAME (107) y/o llamar a la policía (911). En la guardia del centro médico donde sea asistido debe solicitar las constancias de su asistencia y tratamientos recibidos. Recuerde que las constancias médicas son fundamentales para maximizar su indemnización.
								1) Si la policía toma intervención en el lugar del accidente es conveniente instar la acción penal por lesiones.
								2) Si la policía no toma intervención en el lugar del accidente, contactenos urgente para recibir el mejor asesoramiento respecto de qué pasos debe seguir previo a realizar la denuncia en sede policial. En estos casos es fundamental contar con un abogado de confianza que le brinde la seguridad y el conocimiento necesario.
								La declaración que haga de los hechos es vital para definir la responsabilidad del choque.
								3) Si va a hacer la denuncia administrativa directo en su seguro le aconsejamos nuevamente que se asesore con su abogado de confianza. Recuerde que siempre la forma en que declare lo sucedido en su seguro es decisiva al momento de definir la responsabilidad del choque.
								Como última recomendación le recordamos tomar fotos de los daños del vehículo que produjo el accidente y fotos de su propio vehículo, como asi también del lugar del hecho.
							</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingTwo">
						<h3 class="panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								¿Quiénes tienen derecho a reclamar por un accidente?
							</a>
						</h3>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false" style="height: 0px;">
						<div class="panel-body">
							<p>
								Tendrá derecho a reclamar el accidentado por lesiones físicas producidas por el accidente.
								También tendrá derecho a reclamar quien hubiera incurrido en gastos médicos en nombre del asegurado (Ej. Medicamentos, honorarios médicos, prótesis, tratamientos, etc.).
								En caso de fallecimiento del accidentado directo tendrán derecho a reclamar sus herederos legales (Hijos, esposos, padres, nietos, abuelos).
								Con ciertas limitaciones en el reclamo ante fallecimiento también tendrán derecho a reclamar los concubinos.
								Tendrán derecho a reclamo ante fallecimiento del accidentado quienes recibieran en vida asistencia económica y material por parte del mismo (Hermanos, hijos de crianza, etc.).
								Tendrán asimismo derecho a reclamo quienes hayan pagado gastos de sepelio y/o de última enfermedad.
								En cuanto a daños al vehículo (automóvil, camión, avión, moto, bicicleta, etc.) tendrá derecho a reclamar el titular registral y asimismo quien tenga uso, usufructo o tenencia por cualquier título del vehículo.
								El plazo legal para iniciar el reclamo es de 2 años desde la fecha del accidente o desde que el daño se haya evidenciado.
								El plazo legal para reclamar en caso de tratarse de empresas de colectivos o ferrocarriles es de 1 año.
							</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingThree">
						<h3 class="panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								¿Que se puede reclamar por un accidente?
							</a>
						</h3>
					</div>
					<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false" style="height: 0px;">
						<div class="panel-body">
							<p>
								La persona que haya sufrido lesiones como consecuencia de un accidente de tránsito tiene derecho a reclamar:
								El daño físico.
								El daño psicológico.
								El daño moral.
								El daño estético.
								El tratamiento psicológico.
								El tratamiento kinesiológico.
								El reintegro de los gastos por honorarios médicos.
								El reintegro de los gastos por internación.
								El reintegro de los gastos en medicamentos.
								El reintegro de los gastos por los traslados.
								El lucro cesante.
								La pérdida de chance.
								Según el caso, todas las prestaciones, en dinero y/o en especie, previstas en la Ley de Riesgos del Trabajo
								Los familiares/herederos legales de una persona fallecida en un accidente de tránsito tienen derecho a reclamar:
								El daño moral.
								El valor vida.
								La pérdida de chance.
								El daño psicológico.
								El tratamiento psicológico.
								El reintegro de los gastos de sepelio.
								El reintegro de los gastos de última enfermedad.
								Todas las prestaciones previstas en la Ley de Riesgos del Trabajo.
								El titular registral y/o usuario/tenedor/usufructuario de un automotor de un automotor accidentado tiene derecho a reclamar:
								El costo de la reparación del rodado.
								La privación de uso del rodado.
								La desvalorización del rodado.
								El lucro cesante (si el rodado es explotado comercialmente)
							</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingfour">
						<h3 class="panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsefour" aria-expanded="false" aria-controls="headingfour">
								¿Cuánto se cobra de indemnización por un accidente de tránsito?
							</a>
						</h3>
					</div>
					<div id="collapsefour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfour" aria-expanded="false">
						<div class="panel-body">
							<p>En general el monto de la indemnización que pagan las compañías de seguro por el reclamo de un siniestro hecho a través de un abogado es mayor que si se hace de manera particular, esto se debe entre otros factores, a la forma en que la ley obliga a operar a las compañías: cuando se inicia un reclamo mediante representación legal, las aseguradoras deben “congelar” contablemente el monto máximo estipulado para el tipo de reclamo presentado, hasta que el caso llegue a su fin, ya sea en instancias extrajudiciales (mediación) o hasta finalizado el juicio. De esta manera incrementaran sus esfuerzos para llegar a un acuerdo con el demandante.</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingfive">
						<h3 class="panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsefive" aria-expanded="false" aria-controls="headingfive">
								¿Cuánto puede tardar el reclamo?
							</a>
						</h3>
					</div>
					<div id="collapsefive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfive" aria-expanded="false">
						<div class="panel-body">
							<p>
								Los reclamos extrajudiciales con abogado y los reclamos administrativos (directamente por el accidentado en la compañía) son similares en duración, por lo general van desde los 90 a los 180 días.
								La via judicial es más prolongada, pudiendo extenderse entre tres a ocho años, y sólo es recomendado en casos donde la compañía de seguros no está dispuesta a negociar una indemnización coherente respecto de los daños sufridos.
							</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingsix">
						<h3 class="panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsesix" aria-expanded="false" aria-controls="headingsix">
								¿Cuánto se cobra por lesiones como la cervicalgia o latigazo cervical?
							</a>
						</h3>
					</div>
					<div id="collapsesix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingsix" aria-expanded="false">
						<div class="panel-body">
							<p>
								El latigazo, cervicalgia o esguince cervical, es una de las lesiones más comunes ocurridas en un accidente de tránsito, ya sea ante un impacto frontal, lateral o al ser colisionado desde la parte trasera del vehículo. La suma que se paga por este tipo de lesión, depende de los puntos de incapacidad que se lleguen a determinar entre el médico legista de nuestro equipo y el médico representante de la aseguradora.
								Luego de sufrir un accidente de tránsito, aunque en apariencia no haya lesiones, de todas formas es muy importante presentarse dentro de las primeras 24 horas en una institución médica, en donde se tomen placas de cuello y columna. Estas placas y los comprobantes médicos que se le brinden, serán de fundamental importancia a la hora de efectuar la vista médica.
							</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingseven">
						<h3 class="panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseseven" aria-expanded="false" aria-controls="headingseven">
								¿Cuándo conviene contratar a un abogado para reclamar por el accidente y cuando conviene hacer el reclamo administrativo?
							</a>
						</h3>
					</div>
					<div id="collapseseven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingseven" aria-expanded="false">
						<div class="panel-body">
							<p>
								En general la suma a pagar será mayor iniciando acciones legales pero existen casos particulares en donde es conveniente efectuar el reclamo administrativo simple y no se justifica realizar un reclamo por vías legales.
								Estos casos son cuando no existen lesiones comprobables a raíz del accidente (ej: no se encontraba en el vehículo) y por otro lado los daños materiales producidos son muy bajos, con lo cual la relación costo/beneficio, no justifica el tiempo invertido para actuar por vía judicial.
							</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="heading8">
						<h3 class="panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="heading8">
								¿Puedo mandar a arreglar el auto antes de hablar con la compañía de seguros?
							</a>
						</h3>
					</div>
					<div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8" aria-expanded="false">
						<div class="panel-body">
							<p>
								Es conveniente no reparar el vehículo hasta que lo inspeccione la compañía de seguros que deberá cubrir el siniestro. Si necesita repararlo en forma urgente, deberá previamente sacarle fotos color (en al menos una de las fotos debe verse la patente de su vehículo).
							</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="heading9">
						<h3 class="panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsefour" aria-expanded="false" aria-controls="heading9">
								¿Debo mantener el seguro vigente para iniciar la demanda por un accidente?
							</a>
						</h3>
					</div>
					<div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9" aria-expanded="false">
						<div class="panel-body">
							<p>
								No es necesario. Lo importante es que el seguro haya estado vigente al momento del accidente.
							</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="heading10">
						<h3 class="panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="heading10">
								¿Si me lesione en el accidente, que necesito para poder reclamar la indemnización por los daños?
							</a>
						</h3>
					</div>
					<div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfour" aria-expanded="false">
						<div class="panel-body">
							<p>En los juicios por daños es fundamental poder probar lo que se reclama. Es muy importante que guarde todo tipo de documentación, como ser órdenes médicas, recetas, comprobantes de turnos médicos, recibos o facturas por gastos hechos en atención médica o remedios, etc. Si no tiene comprobantes de gastos, igualmente puede reclamar.</p>
						</div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="heading11">
						<h3 class="panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="false" aria-controls="heading11">
								¿A que llamamos Indemnización por esguince cervical?
							</a>
						</h3>
					</div>
					<div id="collapse11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading11" aria-expanded="false">
						<div class="panel-body">
							<p>
								El latigazo o esguince cervical es una de las lesiones más comunes ocurridas como resultado de un accidente de tránsito, ya sea ante un impacto frontal, lateral o al ser colisionado desde la parte trasera del vehículo. Las compañías de seguro siempre intentan minimizar estos reclamos cuando son presentados sin representación legal, por lo cual es muy recomendable que un abogado lo asesore en el caso de presentarse este tipo de lesiones
								La lesión es producida por un movimiento brusco y repentino de la cabeza hacia atrás (hiperextensión), hacia delante (hiperflexión) o ambas, lesionando músculos, ligamentos, articulaciones e incluso, rectificando la lordosis cervical.

								Las indemnizaciones en caso de esguince cervical, se fijan en función de baremos, dependiendo el monto fijado, según cada lesión en particular y sus secuelas. Como ya mencionamos, el esguince cervical es un daño que suele minimizarse bastante a la hora de ser valorado por parte de las aseguradoras, por lo cuál el resultado obtenido dependerá en gran medida de la pericia del médico que lo fuera a representar.
								La complejidad a la hora de valorar el alcance real de la lesión, radica en que las secuelas de esta, como dolores, algias y limitación de la movilidad, son difíciles de acreditar puesto que no salen reflejados en ninguna prueba médica y dependen mucho de la credibilidad del paciente.
								Nuestro equipo de médicos legistas cuenta con más de diez años de experiencia asesorando a pacientes con distintos tipos de lesiones como la aquí tratada, lo que le garantiza obtener el mejor resultado alcanzable, logrando que las secuelas de la lesión sufrida reciban la máxima puntuación posible y por lo tanto que usted reciba la indemnización más justa por su siniestro.

								Puntos importantes a tener en cuenta
								§ Toda persona, independientemente de su situación laboral (estudiante, trabajador, desempleado, jubilado) tiene derecho a la indemnización por esguince cervical.
								§ Vea ¿Cuánto se cobra por lesiones como la cervicalgia o esguince cervical? en nuestras preguntas frecuentes.
								§ Al sufrir un esguince cervical como resultado de un accidente de tránsito, el afectado tiene derecho a un tratamiento de fisioterapia y rehabilitación, los cuáles estarán a cargo de la compañía de seguros del responsable del accidente.
								§ El tiempo de curación de un esguince cervical varía entre los 15 y los 90 días siendo normal que las molestias persistan durante meses.
								§ Nuestro equipo de letrados y médicos legistas cuentan con vasta experiencia en negociaciones sobre este tipo de lesión lo que le garantiza obtener el mejor resultado posible.
							</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="heading12">
						<h3 class="panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="false" aria-controls="heading12">
								¿Cómo procedo si sufro un accidente?
							</a>
						</h3>
					</div>
					<div id="collapse12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading12" aria-expanded="false">
						<div class="panel-body">
							<p>
								No firme acuerdos que representantes de algunas aseguradoras harán parecer justos, ya que ese es su trabajo y la realidad es que la tarea principal de estas personas, es intentar “cerrar el siniestro” por la menor cantidad de dinero posible.
								Es muy importante que usted y todos los acompañantes que viajaban en el vehículo, busquen atención médica inmediatamente después del accidente, aunque no sienta que fue herido. Algunas lesiones no se hacen visibles hasta días o semanas después del accidente. Mientras más tiempo transcurra entre la fecha del accidente y la fecha de su primera visita al médico, más fácil le resultará a la compañía de seguros, reducir su reclamo por lesiones.
								Recuerde que cómo en todo accidente de tránsito, usted cuenta hasta con dos años para iniciar el reclamo.
							</p>
						</div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="heading13">
						<h3 class="panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse13" aria-expanded="false" aria-controls="heading13">
								¿Cómo actuar ante un accidente laboral?
							</a>
						</h3>
					</div>
					<div id="collapse13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading13" aria-expanded="false">
						<div class="panel-body">
							<p>
								Si Ud. es víctima de un accidente en su trabajo, de un accidente in itinere (camino al trabajo o de regreso a su casa desde el trabajo) o de una enfermedad profesional, lo primero que debe hacer es informar a su empleador. Será su empleador quien informe a la ART lo sucedido (aunque también puede hacerlo usted mismo informando directamente a su ART). El paso siguiente es pedirle una copia de la denuncia a su empleador.
								Una vez que usted reciba la atención médica necesaria en su ART debe solicitar a la misma su historia clinica.
								Durante este proceso le recordamos que siempre es fundamental asesorarse legalmente. Tenga presente que, asi como en el caso de los seguros automotores, el negocio de las ARTs es pagarle a usted lo menos posible. En gran parte de los casos, pese a existir accidentes gravísimos y pruebas contundentes de secuelas, las ARTs brindan una minima atencion medica y luego le dan el alta al paciente sin ningun tipo de incapacidad o con un porcentaje muy bajo.
								Si usted ya atravesó este proceso y no está de acuerdo con la incapacidad que le asignó su ART aún está a tiempo de asesorarse.
								El procedimiento que siguen las ART es el de notificar el alta (con o sin incapacidad) por carta documento, informándole a usted que tiene la posibilidad de concurrir a Comisión Médica sin necesidad de abogado. Lamentablemente, este es un trámite administrativo que ha sido declarado inconstitucional por la propia Corte Suprema de Justicia. Ello debido a que no interviene un Juez que garantice sus derechos y encima lo alientan a concurrir sin un abogado de confianza que proteja sus intereses.
								Se aprovechan del desconocimiento de la gente y bajo la apariencia de brindarle otra instancia de reclamo, lo que buscan es legitimar un procedimiento que avale pagarle a la víctima lo menos posible.
								No se deje engañar, ante tales injusticias del sistema nosotros nos paramos del lado del trabajador a defender sus derechos.
								Le recordamos que el reclamo se realiza directamente a la ART. Su empleador no tiene relación alguna con el reclamo y la indemnización que reciba usted proviene únicamente de la ART. Al realizar el reclamo usted no perjudica de ningun modo a su patron ni pone en riesgo su trabajo.
								Es fundamental resaltar este punto ya que mucha gente cree que al hacer un reclamo por accidente laboral perjudica a su empleador y por tener una idea equivocada elige resignar sus derechos.
								Consultemos y le explicaremos de qué forma cobrar lo que responde sin arriesgar su empleo.
							</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="heading14">
						<h3 class="panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse14" aria-expanded="false" aria-controls="heading14">
								¿Qué son los accidentes in itinere?
							</a>
						</h3>
					</div>
					<div id="collapse14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading14" aria-expanded="false">
						<div class="panel-body">
							<p>
								Los accidentes in itinere (del latin “itinere”: “en curso”) se encuentran definidos en el artículo sexto de la La Ley de Riesgos del Trabajo (Ley 24.557) como: “todo acontecimiento súbito y violento ocurrido por el hecho o en ocasión del trabajo, o en el trayecto entre el domicilio del trabajador y el lugar de trabajo, siempre y cuando el damnificado no hubiere interrumpido o alterado dicho trayecto por causas ajenas al trabajo”.
								Ejemplo gráfico 1: El trabajador, luego de salir de su casa y llegando al trabajo, sufre un robo con herida de arma blanca, con cortes en el brazo, ocurrido en el trayecto al trabajo.
								Ejemplo gráfico 2: El trabajador, volviendo a su hogar al salir de su jornada, caminando por la vereda, pisa mal y cae con fractura de rodilla.
								Como se puede apreciar, es todo accidente sufrido por el trabajador en el trayecto entre el hogar y el trabajo, ya sea yendo o volviendo del mismo, siempre y cuando el damnificado no hubiere interrumpido o alterado dicho trayecto por causas ajenas al trabajo.
								En estos casos, la ART deberá brindar las prestaciones médicas y dinerarias hasta el alta médica o término legal, y si del accidente in itinere, han quedado secuelas tanto psíquicas como físicas en la salud del trabajador, éste tiene el derecho a ser indemnizado conforme la normativa vigente.
							</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="heading15">
						<h3 class="panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse15" aria-expanded="false" aria-controls="heading15">
								¿Qué son las enfermedades profesionales?
							</a>
						</h3>
					</div>
					<div id="collapse15" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading15" aria-expanded="false">
						<div class="panel-body">
							<p>
								Las enfermedades profesionales son aquellas producidas por causa del trabajo, a aquellos trabajadores que prestan tareas expuestos a factores de riesgo, como ser: movimientos forzosos y repetitivos, ruidos en el ambiente de trabajo, manipulación de sustancias químicas e inhalación de gases, entre otros.
								La Ley de Riesgos del Trabajo (Ley 24.557) las define en su artículo sexto como “aquellas que se encuentran incluidas en el listado que elaborará y revisará el Poder Ejecutivo, conforme al procedimiento del artículo 40 apartado 3 de esta ley. El listado identificará agente de riesgo, cuadros clínicos, exposición y actividades en capacidad de determinar la enfermedad profesional.”
								Ejemplo gráfico 1: El trabajador, mecánico industrial, expuesto a altos niveles sonoros en el puesto de trabajo, padece hipoacusia bilateral.
								Ejemplo gráfico 2: El trabajador, operario de máquina, expuesto a movimientos repetitivos del hombro derecho, padece tendinitis del hombro.
								Ejemplo gráfico 3: El trabajador, docente de escuela, expuesto a la sobrecarga del uso de la voz, padece disfonía persistente
								En estos casos, la ART deberá brindar las prestaciones médicas y dinerarias hasta el alta médica o plazo legal, y si de la enfermedad profesional, han quedado secuelas tanto psíquicas como físicas en la salud del trabajador, éste tiene el derecho a ser indemnizado conforme la normativa vigente.
							</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="heading16">
						<h3 class="panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse16" aria-expanded="false" aria-controls="heading16">
								¿Qué diferencia hay entre un accidente de trabajo y una enfermedad profesional?
							</a>
						</h3>
					</div>
					<div id="collapse16" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading16" aria-expanded="false">
						<div class="panel-body">
							<p>
								Los accidentes de trabajo pueden deberse a un evento súbito específico o, puede ocurrir que paulatinamente se produzca una enfermedad profesional; es decir, patologías que pueden generarse a través del tiempo debido a labores repetitivas, como el síndrome de túnel carpiano o las hernias de disco.
								Las enfermedades laborales también pueden adquirirse por encontrarse expuesto en el trabajo a agentes contaminantes o infecciosos.
							</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="heading17">
						<h3 class="panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse17" aria-expanded="false" aria-controls="heading17">
								¿Es necesario un abogado en todos los casos de lesiones o enfermedades relacionadas con el trabajo?
							</a>
						</h3>
					</div>
					<div id="collapse17" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading17" aria-expanded="false">
						<div class="panel-body">
							<p>
								Siempre es necesario contar con un abogado que defienda sus derechos. Esto es así porque es habitual que las Aseguradoras de Riesgos de Trabajo tiendan a rechazar los siniestros fundándose en que, según su criterio, existen determinadas lesiones o enfermedades por las que ellas no deben responder. Por otra parte, en el caso de que hayan aceptado responsabilizarse por el siniestro, la atención médica que brindan a los asegurados no alcanza los standards previstos por la Ley (mala atención médica, no envío de remises, etc.) y siempre, al momento de determinar los puntos de incapacidad van a otorgar mucho menos de lo que corresponde, o lo que se hubiera conseguido con la intervención de un abogado que defienda los derechos del trabajador. Naturalmente, al ser las Aseguradores de Riesgos de Trabajo quienes por Ley pueden dictaminar en primer término los puntos de incapacidad, y ser ellas quien pagan la indemnización, van a pagar al trabajador mucho menos de lo que le corresponde.
								La puja entre los derechos del trabajador y los intereses económicos de estas lucrativas corporaciones generan problemas complejos que dan lugar a conflicto, y allí es cuando se necesita un abogado con experiencia protegiendo tus derechos.
							</p>
						</div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="heading18">
						<h3 class="panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse18" aria-expanded="false" aria-controls="heading18">
								¿Si contrato a un abogado, ¿significa que estoy demandando a mi empleador?
							</a>
						</h3>
					</div>
					<div id="collapse18" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading18" aria-expanded="false">
						<div class="panel-body">
							<p>Nunca demandamos a tu empleador y siempre intentamos llegar a un acuerdo con las ART sin llegar a demandarlas. Sólo las demandamos si contamos con instrucciones de nuestros clientes.</p>
						</div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="heading19">
						<h3 class="panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse19" aria-expanded="false" aria-controls="heading19">
								¿Los resultados realmente van a ser diferentes con un abogado?
							</a>
						</h3>
					</div>
					<div id="collapse19" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading19" aria-expanded="false">
						<div class="panel-body">
							<p>
								Claro! El empleado que se presenta solo ante su Aseguradora o la Superintendencia es un blanco fácil frente a estructuras corporativas organizadas para la obtención de lucro a costa del trabajador. Contar con un abogado que defienda tus derechos es fundamental. Los miles de clientes que hemos asesorado acreditan su satisfacción con nuestro servicio. Nos caracterizamos por un fuerte compromiso con los intereses de nuestros clientes y estamos orientados a obtener resultados concretos en poco tiempo.
							</p>
						</div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="heading20">
						<h3 class="panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse20" aria-expanded="false" aria-controls="heading20">
								¿Cómo puedo contratar un abogado si no tengo dinero?
							</a>
						</h3>
					</div>
					<div id="collapse20" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading20" aria-expanded="false">
						<div class="panel-body">
							<p>
								Al tomar un caso, nuestro estudio afronta unilateralmente todos los costos para llevar adelante el reclamo. Nuestros honorarios consisten en un porcentaje de lo que cobre nuestro cliente. Es decir, si no ganamos el caso, no cobramos.
							</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="heading21">
						<h3 class="panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse21" aria-expanded="false" aria-controls="heading21">
								¿Debo someterme a los dictámenes de las Comisiones Médicas de la Superintendencia de Riesgos del Trabajo?
							</a>
						</h3>
					</div>
					<div id="collapse21" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading21" aria-expanded="false">
						<div class="panel-body">
							<p>
								Nuestra sugerencia es NUNCA acudir a las Comisiones Médicas, ya que una vez que allí se ha dictaminado una incapacidad es algo difícil elevarla. No obstante ello, si por desconocimiento o por no contar con la asistencia de un abogado especializado usted ha concurrido a estas Comisiones, debe saber que lo que ellas dictaminan no tiene ningún valor frente a un Juez. Las Comisiones no tienen la última palabra. Por otra parte, nuestra experiencia nos muestra que muchas veces los médicos que integran las Comisiones son los mismos médicos que defienden los derechos de la ART.
							</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="heading22">
						<h3 class="panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse22" aria-expanded="false" aria-controls="heading22">
								¿Las Comisiones Médicas de la SRT tienen competencia, idoneidad y son aptas para cumplir con su función?
							</a>
						</h3>
					</div>
					<div id="collapse22" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading22" aria-expanded="false">
						<div class="panel-body">
							<p>
								No, y por eso no hay que acudir a ellas. Sólo la Justicia ofrece garantías de objetividad que no brinda la Superintendencia y sus Comisiones Médicas. La Corte Suprema de la Nación ha determinado que las víctimas de accidentes laborales pueden recurrir al Juez Laboral ya que sólo allí el trabajador gozará de las garantías del debido proceso, la defensa en juicio y el acceso inmediato ante la Justicia. Las Comisiones Médicas obstruyen el acceso directo y rápido del trabajador a la justicia especializada, ya que los infortunios del trabajador no son ni más ni menos que un conflicto jurídico de naturaleza laboral. Ellas se constituyen en órganos dilatorios innecesarios.
							</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="heading23">
						<h3 class="panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse23" aria-expanded="false" aria-controls="heading23">
								¿Qué ocurre si lo despiden durante su recuperación a causa de un accidente o enfermedad?
							</a>
						</h3>
					</div>
					<div id="collapse23" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading23" aria-expanded="false">
						<div class="panel-body">
							<p>
								En estos casos, como mínimo el empleador está obligado a abonar, además de la indemnización por despido injustificado, todos los salarios correspondientes al tiempo que aún faltase para llegar a la fecha del alta médica.
								Recuerde que el reclamo se realiza contra su ART y no contra su empleador con lo cual usted no pone en riesgo su trabajo.
								De todas formas es posible que a raíz de la incapacidad generada por el accidente usted ya no posea la utilidad para su empleador que poseía antes del mismo. Ello debido a que su capacidad productiva se vio disminuida. Pese a lo injusto de esa situación, es posible que su empleador lo despedida. Es por eso que nosotros efectuamos el reclamo a la ART a raíz del accidente, pero también a su empleador, si usted es despedido sin causa.
							</p>
						</div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="heading24">
						<h3 class="panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse24" aria-expanded="false" aria-controls="heading24">
								Si usted recibió dinero de su A.R.T por el accidente o enfermedad profesional, y le parece poco ¿Puede reclamar una suma mayor?
							</a>
						</h3>
					</div>
					<div id="collapse24" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading24" aria-expanded="false">
						<div class="panel-body">
							<p>
								Recuerde que el negocio de la ART es pagar lo menos posible especulando con que usted no quiera asesorarse con un abogado para no tener que pagarle honorarios. La unica forma en que realmente obtendra la indemnización que le corresponde es asesorandose con su abogado de confianza es por ello que si la indemnización que cobro le parece injusta esta a tiempo de contactarnos y reclamar un monto mayor, acorde a su incapacidad.
								Un dato importante es que las ART no suelen reconocer daño psicologico en las personas que sufren estos sucesos traumaticos. Lamentablemente, muchas de las víctimas padecen graves trastornos psiquicos que no son contemplados a la hora de indemnizar a menos que usted se asesore adecuadamente.
							</p>
						</div>
					</div>
				</div>


				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="heading25">
						<h3 class="panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse25" aria-expanded="false" aria-controls="heading25">
								¿Por qué la ART rechaza mi HERNIA DE DISCO/CERVICAL?
							</a>
						</h3>
					</div>
					<div id="collapse25" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading25" aria-expanded="false">
						<div class="panel-body">
							<p>
								Las ART nunca van a aceptar la enfermedad aduciendo que es preexistente o inculpable , esto lo hacen para desgastar al trabajador y que este desista en reclamar lo que le corresponde .
								También es probable que no te quieran tomar la denuncia de la enfermedad , para cubrirse ante futuros reclamos
								Se Denomina Enfermedad inculpable a toda aquella que padezca el trabajador y que no sea profesional u originada por el trabajo, o que no responda a una causa ocasionada intencionalmente por el trabajador.
								Mediante una carta las ART se desligan de atender al trabajador , y lo derivan a la obra social para su atención .
								De esta forma al no tomar la denuncia , y al no brindar las prestaciones médicas tratan de desligarse de futuros reclamos.
								Si Ud. Sufre de algún tipo de hernia y esta tiene relación con su trabajo (es decir que realiza tareas que demandan esfuerzo físico y/o movimientos repetitivos ) Denuncie la enfermedad ante la ART Cuanto ANTES , y si no le quieren tomar la denunca comuniquese asi le brindamos asesoria legal para obtener su justa indemnización.
								Haga valer sus derechos ,consulte sin cargo.
							</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="heading26">
						<h3 class="panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse26" aria-expanded="false" aria-controls="heading26">
								¿Cuánto tiempo tengo para reclamar una indemnización?
							</a>
						</h3>
					</div>
					<div id="collapse26" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading26" aria-expanded="false">
						<div class="panel-body">
							<p>Tiene dos años a partir del alta médica. </p>
						</div>
					</div>
				</div>

			</div>


		</div>
	</div>

	@*<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" href="#collapse1">Collapsible panel</a>
					</h4>
				</div>
				<div id="collapse1" class="panel-collapse collapse">
					<div class="panel-body">Panel Body</div>
					<div class="panel-footer">Panel Footer</div>
				</div>
			</div>
		</div>*@

</section>
