@model Sitio.Models.ServiceModel


<main id="main">
	<div class="banner-block">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 banner-box">
					<header class="banner-heading">
						<h1>Servicios</h1>
						<!-- breadcrumbs of the page -->
						<nav class="breadcrumbs">
							<ul class="list-inline">
								<li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
								<li><a href="#">Servicios</a></li>
							</ul>
						</nav>
					</header>
				</div>
			</div>
		</div>
		<div class="bg-stretch">
			<img src="/SitioAbogacia/images/puertomadero.jpg" alt="image description" style="width: 2535.35px; height: 352px; margin-top: 0px; margin-left: -316.176px;">
		</div>
	</div>
	<section class="container container-block">
		<div class="trust-col">
			<h2>@Model.ServiceName</h2>
			<div class="col-xs-12" id="content">
				<article class="blog-post">
					@Model.LongDesc
				</article>
			</div>
		</div>
	</section>
	@Html.Partial("ContactUs", Model.ContactModel)
</main>

<style type="text/css">
	.blog-post {
		line-height: 27px;
		font-size: 21px;
	}

		.blog-post p {
			margin: 20px 0 17px;
		}

	.news-posts {
		padding-left: 100px;
	}
</style>




